#back1 {
	background-image: url("../img/back.jpg");
}

#imgback-1 {
	background-image: url("../img/1.png");
}

#imgback-2 {
	background-image: url("../img/2.png");
}

#imgback-3 {
	background-image: url("../img/3.png");
}

#imgback-4 {
	background-image: url("../img/4.png");
}

.imgsize {
	background-image: url("../image/img8.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 40%;
	height: 100px;
	margin-left: 30%;
	margin-bottom: 20%;
}

.boton {
    font-size: 10px;
    font-weight: bold;
    color: white;
    border: 0px;
    width: 200PX;
    text-align: center;
}

.imgherr {
	width: 60%;
	height: 300px;
}

.margtop1{
    margin-top: 30%;
}

.margtop2{
    margin-top: 15%;
}

.margtop3{
    margin-top: 5%;
}

.hr1 {
    border: 0; 
    height:0;
    width: 10%;
    margin-left: 45%;
	border-top: 1px solid #212F3D; 
    border-bottom: 1px solid #212F3D;     
}

.margbott {
	margin-bottom: 5%;
}

.caja2:hover{opacity: 1}
.imagenes {
	color: yellow;
	background-repeat: no-repeat;
	background-position: center;
	height: 200px;
	width: 100%;
}

#imgefe {
	background-image: url("../img/img3.png");
}